---
- hosts: Ansible
  become: yes
  
- name: Update /etc/hosts from inventory
  lineinfile:
    path: /etc/hosts
    line: "{{ item }}"
    state: present
  with_items: "{{ vmware_smartlis_deployment.keys() }}"
