---
# tasks file
- name: Import {{ deployment_type }} deployment tasks file
  import_tasks: "{{ deployment_type }}_deployment.yml"
  
- name: Import tower group creation tasks file
  import_tasks: "create_tower_group_{{ deployment_type }}.yml"
  ignore_errors: yes
