---
- name: stop rabbitmq app
  shell: rabbitmqctl stop_app
  when: ansible_hostname != rabbitmaster_host

- name: add this node to cluster
  shell: rabbitmqctl join_cluster rabbit@{{ rabbitmaster_host }}
  register: join_cluster_output
  ignore_errors: True
  when: ("{{ ansible_hostname }}" != "{{ rabbitmaster_host }}")

- name: start rabbitmq app
  shell: rabbitmqctl start_app

- name: configure HA policy
  rabbitmq_policy:
    name: HA
    pattern: .*
    tags:
      ha-mode: all
      ha-sync-mode: automatic
