---
- name: stop rabbitmq server
  service:
    name: rabbitmq-server
    state: stopped

- name: fetch file
  hosts: "{{ rabbitmaster_host }}"
  fetch: 
    src: /var/lib/rabbitmq/.erlang.cookie
    dest: temp/

- name: copy file
  hosts: "{{ rabbitslave_host }}"
  copy:
    src: temp/{{ rabbitmaster_host }}/var/lib/rabbitmq/.erlang.cookie
    dest: /var/lib/rabbitmq/.erlang.cookie
    owner: rabbitmq
    group: rabbitmq
    mode: 0400
    force: yes
  notify: start rabbbitmq-server
