---
- name: stop rabbitmq server
  service:
    name: rabbitmq-server
    state: stopped

- name: fetch file
  fetch: 
    src: /var/lib/rabbitmq/.erlang.cookie
    dest: temp/
  when: ("{{ ansible_hostname }}" == "{{ rabbitmaster_host }}")
  notify: start rabbitmq-server

- name: copy file
  copy:
    src: temp/{{ rabbitmaster_host }}/var/lib/rabbitmq/.erlang.cookie
    dest: /var/lib/rabbitmq/.erlang.cookie
    owner: rabbitmq
    group: rabbitmq
    mode: 0400
    force: yes
  when: ("{{ ansible_hostname }}" == "{{ rabbitslave_host }}")
  notify: start rabbitmq-server
