---
# Create a VM from a template
- name: Creating additional VM by SL role
  vmware_guest:
    hostname: "{{ vmware_host }}"
    username: "{{ vmware_user }}"
    password: "{{ vmware_password }}"
    validate_certs: "{{ vmware_validate_certs }}"
    datacenter: "{{ vmware_datacenter }}"
    folder: "{{ vmware_folder }}"
    name: "{{ vmware_name }}"
    state: poweredon
    networks:
    - name: "{{ vmware_network_name }}"
      ip: "{{ vmware_ip }}"
    template: "{{ item }}"
    wait_for_ip_address: yes
  loop:
    - "{{ vmware_template }}" 
  delegate_to: localhost
  ignore_errors: yes
